<footer class="gh-foot gh-foot-min">
    <div class="gh-foot-content inner">
        <nav class="gh-foot-min-nav">
            <a class="gh-foot-min-item gh-foot-min-logo" href="https://ghost.org">
                {% include /icons/ghost-logo.svg %}
            </a>
          <a class="gh-foot-min-item" href="https://themes.ghost.org" target="_blank" rel="noopener">Docs</a>
          <a class="gh-foot-min-item" href="https://github.com/tryghost/marketplace#ghost-marketplace" target="_blank" rel="noopener">Submit</a>
            <a class="gh-foot-min-item" href="https://twitter.com/tryghost" target="_blank" rel="noopener">@TryGhost</a>
        </nav>
        <div class="gh-foot-min-back">
            <a class="gh-foot-min-item" href="https://ghost.org">Back to Ghost</a>
        </div>
    </div>
</footer>

<script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
  analytics.load("uj8ix0aatc");
  analytics.page();
  }}();
</script>

<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
</script>
<script type="text/javascript" src="{{ "assets/js/ghost.js" | relative_url }}"></script>
<script type="text/javascript" src="https://auth.ghost.org/signin-button.js"></script>
